## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [443]:
import pandas as pd

In [444]:
# Import the date from the CSV file
file = './Resources/client_dataset.csv'
client_dataset_df = pd.read_csv(file)

client_dataset_df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [445]:
# View the column names in the data
df = pd.DataFrame(client_dataset_df) 
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [446]:
# Use the describe function to gather some basic statistics
df.describe().round()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.0,54639.0,54639.0,54639.0,54639.0,54639.0,54639.0,54639.0,54639.0
mean,54838.0,5470190.0,11.0,2023.0,136.0,99.0,5.0,570.0,3.0
std,25487.0,2599807.0,7.0,0.0,184.0,133.0,5.0,18796.0,2.0
min,10033.0,1000886.0,1.0,2022.0,0.0,0.0,0.0,0.0,0.0
25%,33593.0,3196372.0,6.0,2023.0,21.0,15.0,1.0,32.0,1.0
50%,53305.0,5496966.0,11.0,2023.0,68.0,50.0,3.0,68.0,3.0
75%,78498.0,7733869.0,17.0,2023.0,173.0,126.0,7.0,170.0,5.0
max,99984.0,9998480.0,52.0,2023.0,1396.0,846.0,46.0,3958244.0,9.0

Using this space to explore and make myself familiar with the data.

In [474]:
# How many rows and columns are there 
num_rows, num_columns = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 54639
Number of columns: 24

In [448]:
# Count the occurences of each item category

category_counts = df['category'].value_counts()
print(category_counts)

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [449]:
# Count the occurences of each item subcategory
subcategory_counts = df['subcategory'].value_counts()

print(subcategory_counts)

subcategory
bathroom supplies     6424
paper products        5874
kitchen supplies      5746
tables                4540
misc                  4286
stands                4201
accounting            3756
project management    3522
plants                3466
wall art              3093
seating               2664
pens                  2603
logistics             1122
telecom                978
audio visual           732
cabling                655
desks                  510
computers              467
Name: count, dtype: int64

In [450]:
# What three item categories had the most entries?
top_categories = category_counts.head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [451]:
# For the category with the most entries, which subcategory had the most entries?

most_entries_category = category_counts.idxmax()
print("category with most entries:", most_entries_category)

most_entries_subcategory = subcategory_counts.idxmax()
print("Subcategory with the most entries in the category", most_entries_category, ":", most_entries_subcategory)

category with most entries: consumables
Subcategory with the most entries in the category consumables : bathroom supplies

In [452]:
# Which five clients had the most entries in the data?

# Count the number of entries for each client_id
top_clients = df['client_id'].value_counts().head(5)

# Get the top 5 clients with the most entries
top_clients_list = top_clients.index.tolist()

print("Top 5 clients with the most entries:")
print(top_clients)

Top 5 clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [453]:
# Store the client ids of those top 5 clients in a list.
print("Client IDs of the top 5 clients:", top_clients_list)

Client IDs of the top 5 clients: [33615, 66037, 46820, 38378, 24741]

In [454]:
# How many total units (the qty column) did the client with the most entries order order?

total_units_client_33615 = df[df['client_id'] == 33615]['qty'].sum()
print(total_units_client_33615)

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [483]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty

# Create a column for the subtotal for each line
df['subtotal'] = df['unit_price'] * df['qty']

# Display the DataFrame with the new 'subtotal' column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       shipping_price    total_price  line_cost  line_price    profit  \
0                75.0  125898.607500   80159.55   115164.00  34291.95
1                14.9     588.693625     331.79      523.95    175.77
2                16.8     594.407400     323.34      527.28    155.22
3                12.3    1167.314400     732.95     1056.18    299.86
4               464.3    4770.182750    2627.70     3902.00    810.00
...               ...            ...        ...         ...       ...
54634            22.5    3021.625575    1725.30     2743.29    966.24
54635           117.0   10735.702525    8363.62     9709.73    913.21
54636            41.6   34118.884250   27263.85    31188.50   1990.25
54637           180.4     378.179800     317.04      165.76  -1991.36
54638            20.7    3412.980925    1680.61     3103.31   -690.77

       total_revenue
0          115164.00
1             523.95
2             527.28
3            1056.18
4            3902.00
...              ...
54634        2743.29
54635        9709.73
54636       31188.50
54637         165.76
54638        3103.31

[54639 rows x 25 columns]

In [482]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.

# Define a function to calculate shipping price based on weight
def calculate_shipping_price(weight):
    if weight > 50:
        return 7 * weight
    else:
        return 10 * weight

# Create the 'shipping_price' column by applying the function to 'unit_weight'
df['shipping_price'] = df['unit_weight'].apply(lambda x: x * 7 if x > 50 else x * 10)

# Display the DataFrame with the new 'shipping_price' column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       shipping_price    total_price  line_cost  line_price    profit  \
0                75.0  125898.607500   80159.55   115164.00  34291.95
1                14.9     588.693625     331.79      523.95    175.77
2                16.8     594.407400     323.34      527.28    155.22
3                12.3    1167.314400     732.95     1056.18    299.86
4               464.3    4770.182750    2627.70     3902.00    810.00
...               ...            ...        ...         ...       ...
54634            22.5    3021.625575    1725.30     2743.29    966.24
54635           117.0   10735.702525    8363.62     9709.73    913.21
54636            41.6   34118.884250   27263.85    31188.50   1990.25
54637           180.4     378.179800     317.04      165.76  -1991.36
54638            20.7    3412.980925    1680.61     3103.31   -690.77

       total_revenue
0          115164.00
1             523.95
2             527.28
3            1056.18
4            3902.00
...              ...
54634        2743.29
54635        9709.73
54636       31188.50
54637         165.76
54638        3103.31

[54639 rows x 25 columns]

In [481]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%

# Calculate the total price including shipping and sales tax
df['total_price'] = df['subtotal'] + df['shipping_price'] + (df['subtotal'] + df['shipping_price']) * 0.0925

# Display the DataFrame with the new columns
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       shipping_price    total_price  line_cost  line_price    profit  \
0                75.0  125898.607500   80159.55   115164.00  34291.95
1                14.9     588.693625     331.79      523.95    175.77
2                16.8     594.407400     323.34      527.28    155.22
3                12.3    1167.314400     732.95     1056.18    299.86
4               464.3    4770.182750    2627.70     3902.00    810.00
...               ...            ...        ...         ...       ...
54634            22.5    3021.625575    1725.30     2743.29    966.24
54635           117.0   10735.702525    8363.62     9709.73    913.21
54636            41.6   34118.884250   27263.85    31188.50   1990.25
54637           180.4     378.179800     317.04      165.76  -1991.36
54638            20.7    3412.980925    1680.61     3103.31   -690.77

       total_revenue
0          115164.00
1             523.95
2             527.28
3            1056.18
4            3902.00
...              ...
54634        2743.29
54635        9709.73
54636       31188.50
54637         165.76
54638        3103.31

[54639 rows x 25 columns]

In [480]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

# Create a column for the total cost of each line
df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']

# Display the DataFrame to verify the new columns
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       shipping_price    total_price  line_cost  line_price    profit  \
0                75.0  125898.607500   80159.55   115164.00  34291.95
1                14.9     588.693625     331.79      523.95    175.77
2                16.8     594.407400     323.34      527.28    155.22
3                12.3    1167.314400     732.95     1056.18    299.86
4               464.3    4770.182750    2627.70     3902.00    810.00
...               ...            ...        ...         ...       ...
54634            22.5    3021.625575    1725.30     2743.29    966.24
54635           117.0   10735.702525    8363.62     9709.73    913.21
54636            41.6   34118.884250   27263.85    31188.50   1990.25
54637           180.4     378.179800     317.04      165.76  -1991.36
54638            20.7    3412.980925    1680.61     3103.31   -690.77

       total_revenue
0          115164.00
1             523.95
2             527.28
3            1056.18
4            3902.00
...              ...
54634        2743.29
54635        9709.73
54636       31188.50
54637         165.76
54638        3103.31

[54639 rows x 25 columns]

In [484]:
# Create a column for the profit of each line using line cost and line price

# Calculate the profit for each line
df['line_cost'] = df['unit_cost'] * df['qty'] + df['unit_weight'] * df['qty']
df['line_price'] = df['unit_price'] * df['qty']
df['profit'] = df['line_price'] - df['line_cost']

# Display the DataFrame with the new 'profit' column
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_weight   qty line_number   subtotal  \
0              17        2023  ...        7.50   105           1  115164.00
1              20        2023  ...        1.49    21           0     523.95
2               4        2023  ...        1.68    39           6     527.28
3              17        2023  ...        1.23    29           3    1056.18
4              21        2023  ...       46.43    20           1    3902.00
...           ...         ...  ...         ...   ...         ...        ...
54634          17        2023  ...        2.25    33           8    2743.29
54635           6        2023  ...       11.70    47           0    9709.73
54636           9        2023  ...        4.16   475           6   31188.50
54637           3        2023  ...       18.04   112           0     165.76
54638           1        2023  ...        2.07  1031           5    3103.31

       shipping_price    total_price  line_cost  line_price    profit  \
0                75.0  125898.607500   80872.05   115164.00  34291.95
1                14.9     588.693625     348.18      523.95    175.77
2                16.8     594.407400     372.06      527.28    155.22
3                12.3    1167.314400     756.32     1056.18    299.86
4               464.3    4770.182750    3092.00     3902.00    810.00
...               ...            ...        ...         ...       ...
54634            22.5    3021.625575    1777.05     2743.29    966.24
54635           117.0   10735.702525    8796.52     9709.73    913.21
54636            41.6   34118.884250   29198.25    31188.50   1990.25
54637           180.4     378.179800    2157.12      165.76  -1991.36
54638            20.7    3412.980925    3794.08     3103.31   -690.77

       total_revenue
0          115164.00
1             523.95
2             527.28
3            1056.18
4            3902.00
...              ...
54634        2743.29
54635        9709.73
54636       31188.50
54637         165.76
54638        3103.31

[54639 rows x 25 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of $152,811.89

Order ID 2173913 had a total price of $162,388.71

Order ID 6128929 had a total price of $923,441.25

In [471]:
# Calculate the total price for each order ID by summing up the subtotal for each line

total_prices = df.groupby('order_id')['total_price'].sum()


# Compare the calculated total prices with the provided total prices
order_2742071_total = total_prices.get(2742071, 0)
order_2173913_total = total_prices.get(2173913, 0)
order_6128929_total = total_prices.get(6128929, 0)

# Provided total prices
provided_totals = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

# Compare the calculated total prices with the provided total prices
for order_id, provided_total in provided_totals.items():
    calculated_total = total_prices.get(order_id, 0)
    if calculated_total == provided_total:
        print(f"Order ID {order_id} total price matches the receipt: ${provided_total}")
    else:
        print(f"Order ID {order_id} total price does not match the receipt. Calculated total: ${calculated_total}")

Order ID 2742071 total price does not match the receipt. Calculated total: $139844.512025
Order ID 2173913 total price does not match the receipt. Calculated total: $119838.35704999999
Order ID 6128929 total price does not match the receipt. Calculated total: $752748.745475

In [472]:
# Filter the DataFrame for order number 2742071 and calculate the total price
order_2742071_total_price = df[df['order_id'] == 8953482]['unit_price'].sum() * df[df['order_id'] == 8953482]['qty'].sum()

print(f"The total price for order number 2742071 is: ${order_2742071_total_price}")

The total price for order number 2742071 is: $230054.55

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [477]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

# Calculate total revenue for each client
df['total_revenue'] = df['unit_price'] * df['qty']

# Group by client_id and sum the total revenue
total_revenue_by_client = df.groupby('client_id')['total_revenue'].sum().reset_index()

# Sort by total revenue in descending order
total_revenue_by_client = total_revenue_by_client.sort_values(by='total_revenue', ascending=False)

# Select the top 5 clients
top_5_clients = total_revenue_by_client.head(5)

print(top_5_clients)

     client_id  total_revenue
758      78965   5.950470e+08
840      85931   2.071928e+08
320      38473   1.636205e+08
850      86721   1.015831e+08
821      84344   9.287183e+07

In [485]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
# Calculate total revenue, shipping price, and profit for each order
df['total_revenue'] = df['unit_price'] * df['qty']
df['total_shipping_price'] = df['unit_cost'] * df['qty']
df['total_profit'] = df['total_revenue'] - df['total_shipping_price']

# Group by client_id and sum the totals
summary_df = df.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('total_shipping_price', 'sum'),
    total_revenue=('total_revenue', 'sum'),
    total_profit=('total_profit', 'sum')
).reset_index()

# Sort by total revenue in descending order
summary_df = summary_df.sort_values(by='total_revenue', ascending=False)

# Select the top 5 clients
top_5_clients_summary = summary_df.head(5)

print(top_5_clients_summary)

     client_id  total_units_purchased  total_shipping_price  total_revenue  \
758      78965                4033302          4.032301e+08   5.950470e+08
840      85931                 644423          1.180003e+08   2.071928e+08
320      38473                 402770          1.358098e+08   1.636205e+08
850      86721                1010426          7.395587e+07   1.015831e+08
821      84344                 466968          7.418983e+07   9.287183e+07

     total_profit
758  1.918170e+08
840  8.919246e+07
320  2.781066e+07
850  2.762721e+07
821  1.868200e+07

In [487]:
# Format the data and rename the columns to names suitable for presentation.


# Rename columns to suitable names
df = df.rename(columns={
    'unit_price': 'revenue',
    'unit_cost': 'cost',
    'qty': 'units_purchased',
    'unit_weight': 'shipping_price'
})

# Define money columns
money_columns = ['revenue', 'cost', 'shipping_price']

# Define function to convert dollar amount to millions
def currency_format_millions(amount):
    return amount / 1000000

# Apply the currency_format_millions function to money columns
df[money_columns] = df[money_columns].apply(currency_format_millions)

# Rename columns to reflect the change in the money format
df = df.rename(columns={
    'revenue': 'revenue_millions',
    'cost': 'cost_millions',
    'shipping_price': 'shipping_price_millions'
})

print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... line_number   subtotal  \
0              17        2023  ...           1  115164.00
1              20        2023  ...           0     523.95
2               4        2023  ...           6     527.28
3              17        2023  ...           3    1056.18
4              21        2023  ...           1    3902.00
...           ...         ...  ...         ...        ...
54634          17        2023  ...           8    2743.29
54635           6        2023  ...           0    9709.73
54636           9        2023  ...           6   31188.50
54637           3        2023  ...           0     165.76
54638           1        2023  ...           5    3103.31

      shipping_price_millions    total_price  line_cost  line_price    profit  \
0                    0.000075  125898.607500   80872.05   115164.00  34291.95
1                    0.000015     588.693625     348.18      523.95    175.77
2                    0.000017     594.407400     372.06      527.28    155.22
3                    0.000012    1167.314400     756.32     1056.18    299.86
4                    0.000464    4770.182750    3092.00     3902.00    810.00
...                       ...            ...        ...         ...       ...
54634                0.000023    3021.625575    1777.05     2743.29    966.24
54635                0.000117   10735.702525    8796.52     9709.73    913.21
54636                0.000042   34118.884250   29198.25    31188.50   1990.25
54637                0.000180     378.179800    2157.12      165.76  -1991.36
54638                0.000021    3412.980925    3794.08     3103.31   -690.77

       total_revenue  total_shipping_price  total_profit
0          115164.00              80084.55      35079.45
1             523.95                316.89        207.06
2             527.28                306.54        220.74
3            1056.18                720.65        335.53
4            3902.00               2163.40       1738.60
...              ...                   ...           ...
54634        2743.29               1702.80       1040.49
54635        9709.73               8246.62       1463.11
54636       31188.50              27222.25       3966.25
54637         165.76                136.64         29.12
54638        3103.31               1659.91       1443.40

[54639 rows x 27 columns]

In [493]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.

In [ ]:
# Summary of findings:

# Showing a 43.8% profit on total revenue. not bad!